body {
    background-color: var(--LIGHT_BACKGROUND);
}

a {
    text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

::-webkit-scrollbar {
    width: 8px;
}

.modal-content::-webkit-scrollbar,
::-webkit-scrollbar {
    height: 8px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    /* background: #6c6f96; */
    background: #272b41;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f100;
}
